<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>текст</p>

    <h1>заголовки</h1>самый маленький
    <h2></h2>
    <h3></h3>
    <h4></h4>
    <h5></h5>
    <h6></h6>самый большой

    <br>отступ на след строку

    <a href="#">ссылка</a>

    <img src="ссылка на картинку" alt="если картинка не прогрузилась то прогрузится эта картинка">

    <header>верхняя часть сайта(проще говоря шапка или голова)</header>

    <main>туловище сайта</main>

    <section>разделы сайта</section>

    <nav>навигация сайта</nav>

    <footer>нижняя часть сайта</footer>
</body>
</html>